/* Adding gvnix styles css - NO COPIAR */
  @import 'http://geo-gvnix.rhcloud.com/resources/styles/standard.css';

  /* Custom fixed navs */

  header.navbar + nav.navbar { /* margin-top: 20px;same margin-bottom .navbar */ }

  .navbar.navbar-default.navbar-fixed-top { margin-top: 50px; }

  .sidebar.navbar-fixed-top { margin-top: 100px; }

  @media (min-width: 768px) and (max-width: 998px) {
      .navbar.navbar-default.navbar-fixed-top { margin-top: 100px; }

      .sidebar.navbar-fixed-top { margin-top: 0px; }
  }

  /* Custom navbar default: global*/

  .navbar.navbar-default {
      background-color: #f8f8f8;
      border-color: #e7e7e7;
      border-radius: 0;
      margin: 0;
  }

  .navbar.navbar-default .navbar-brand {
      color: #666;
      min-width: 150px;
      text-shadow: none;
  }

  .navbar.navbar-default .navbar-nav > li > a {
      color: #666;
      text-shadow: none;
  }

  .navbar.navbar-default .navbar-nav > li > a {
      color: #666;
      text-shadow: none;
  }

  .navbar.navbar-default .navbar-nav > li > a:hover { color: #acc47f; }

  .navbar.navbar-default .navbar-nav > .active > a {
      background-color: #acc47f;
      color: #fff;
  }

  .navbar.navbar-default .navbar-nav > .active > a:hover {
      background-color: #acc47f;
      color: #608224;
  }

  .navbar.navbar-default .caret {
      border-bottom-color: #ccc;
      border-top-color: #ccc;
  }

  .navbar.navbar-default .caret:hover {
      border-bottom-color: #333;
      border-top-color: #333;
  }


  /* Custom sidebar menu */

  /*Remove rounded coners*/

  nav.sidebar.navbar { border-radius: 0px; }

  nav.sidebar, .main {
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      -webkit-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /* Add gap to nav and right windows.*/

  .main { padding: 10px 10px 0 10px; }

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/

  @media (min-width: 768px) {
      /*Allow main to be next to Nav*/
      .main {
          float: right;
          margin-left: 40px;
          position: absolute;
          width: calc(100% - 40px); /*keeps 100% minus nav size*/
      }

      /*lets nav bar to be showed on mouseover*/
      nav.sidebar:hover + .main { margin-left: 200px; }

      /*Center Brand*/
      nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0px; }

      /*Center Brand*/
      nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
          margin-left: 0px;
          text-align: center;
          width: 100%;
      }

      /*Center Icons*/
      nav.sidebar a {
          min-width: 100px;
          padding-right: 13px;
      }

      /*custom sidebar nav*/
      nav.sidebar ul.nav.navbar-nav { margin: 0; }

      nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: white; }

      /*adds border top to first nav box */
      nav.sidebar .navbar-nav > li:first-child { border-top: 1px #e5e5e5 solid; }

      /*adds border to bottom nav boxes*/
      nav.sidebar .navbar-nav > li { border-bottom: 1px #e5e5e5 solid; }

      /*adds background on hover*/
      nav.sidebar .navbar-nav > li:hover {
          background-color: #43600E;
          color: #fff;
      }

      /*removes border last element*/
      nav.sidebar .navbar-nav > li.last { border-bottom: none; }

      /* Colors/style dropdown box*/
      nav.sidebar .navbar-nav .open .dropdown-menu {
          -webkit-box-shadow: none;
          background-color: transparent;
          border: 0;
          box-shadow: none;
          float: none;
          margin-top: 0;
          position: static;
          width: auto;
      }

      /*allows nav box to use 100% width*/
      nav.sidebar .navbar-collapse, nav.sidebar .container-fluid { padding: 0 0px 0 0px; }

      /*colors dropdown box text */
      .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #777; }

      /*O quanto o menu irá esconder á esquerda*/
      /*gives sidebar width/height*/
      nav.sidebar {
          float: left;
          height: 100%;
          margin-bottom: 0px;
          margin-left: -170px;
          width: 100px;
          z-index: 8000;
      }

      /*give sidebar 100% width;*/
      nav.sidebar li { width: 100%; }

      /* Move nav to full on mouse over*/
      nav.sidebar:hover { margin-left: 0px; }

      /*for hiden things when navbar hidden*/
      .forAnimate { opacity: 0; }
  }

  /* .....NavBar: Fully showing nav bar..... */

  @media (min-width: 1330px) {
      /*     Allow main to be next to Nav
    .main{
      width: calc(100% - 200px); keeps 100% minus nav size
      margin-left: 200px;
    }

    Show all nav
    nav.sidebar{
      margin-left: 0px;
      float: left;
    }
    Show hidden items on nav
    nav.sidebar .forAnimate{
      opacity: 1;
    } */
  }

  nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
      background-color: transparent;
      color: #CCC;
  }

  nav:hover .forAnimate { opacity: 1; }
  
  
  /*---- FIM SLIDE MENU*/

  /*Edit by Hasan*/

  .nav-side-menu {
      background-color: #3D4444; /*background-color: #353535,#2e353d*/
      color: #e1ffff;
      /*overflow: auto;*/
      font-family: verdana;
      font-size: 12px;
      font-weight: 200;
      height: 100%;
      overflow: hidden;
      position: fixed;
      top: 0px;
      width: 230px;
  }

  .nav-side-menu .brand {
      background-color: #40434B; /*background-color:  #1A1A1A;,#23282e;*/
      display: block;
      font-size: 14px;
      line-height: 77px;
      text-align: center;
  }

  .nav-side-menu .toggle-btn { display: none; }

  .nav-side-menu ul,
  .nav-side-menu li {
      cursor: pointer;
      line-height: 50px;
      list-style: none;
      margin: 0px;
      padding: 0px;

      /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
  }

  .nav-side-menu ul :not(collapsed) .arrow:before,
  .nav-side-menu li :not(collapsed) .arrow:before {
      content: "\f078";
      display: inline-block;
      float: right;
      font-family: FontAwesome;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
  }

  .nav-side-menu ul .active,
  .nav-side-menu li .active {
      background-color: #2B2F31; /*#4f5b69; by hasan*/
      border-left: 3px solid #d19b3d;
  }

  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active { color: #d19b3d; }

  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a { color: #d19b3d; }

  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
      background-color: #181c20;
      border: none;
      border-bottom: 1px solid #23282e;
      line-height: 28px;
      margin-left: 0px;
  }

  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover { background-color: #020203; }

  .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
      content: "\f105";
      display: inline-block;
      font-family: FontAwesome;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
  }

  .nav-side-menu li {
      border-bottom: 1px solid #1A1A1A; /*by hasan  #23282e;*/
      border-left: 3px solid #2e353d;
      padding-left: 0px;
  }

  .nav-side-menu li a {
      color: #e1ffff;
      text-decoration: none;
  }

  .nav-side-menu li a i {
      padding-left: 10px;
      padding-right: 20px;
      width: 20px;
  }

  .nav-side-menu li:hover {
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      background-color: #4f5b69;
      border-left: 3px solid #d19b3d;
      transition: all 1s ease;
  }

  @media (max-width: 767px) {
      .nav-side-menu {
          margin-bottom: 10px;
          position: relative;
          width: 100%;
      }

      .nav-side-menu .toggle-btn {
          background-color: #ffffff;
          color: #000;
          cursor: pointer;
          display: block;
          padding: 3px;
          position: absolute;
          right: 10px;
          text-align: center;
          top: 10px;
          width: 40px;
          z-index: 10 !important;
      }

      .brand {
          font-size: 22px;
          line-height: 50px !important;
          padding-left: 10px; /*20px by Hasan*/
          text-align: left !important;
      }
  }

  @media (min-width: 767px) {
      .nav-side-menu .menu-list .menu-content { display: block; }
  }

  body {
      margin: 0px;
      padding: 0px;
  }